openapi: 3.0.0
servers:
  - url: 'https://developer.pexalabs.com.au/jitapi/pexawebapi/api/rest'
info:
  version: '1.14'
  title: Developer Portal
security:
  - OauthSecurity:
      - admin
paths:
  /v1/user:
    get:
      tags:
        - user
      summary: Retrieve User Profile by logged in user.
      description: >
        This API will return user profile which is belong to logged in user
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/UserProfileRetrievalResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v2/subscriber:
    get:
      tags:
        - subscriber
      summary: Search for subscribers based on name or id
      description: >
        Searches for active subscribers in PEXA based on either name or id. A list of matching subscribers will be returned along with a link to the subscriber lead form.
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - name: subscriberName
          in: query
          description: The subscriber name to be searched on. Minimum 3 characters
          schema:
            type: string
            minLength: 3
            maxLength: 255
        - name: searchSubscriberId
          in: query
          description: The id of the subscriber to be searched on.
          schema:
            type: integer
            maxLength: 19
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SubscriberSearchResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/landRegistry/titleStatus:
    get:
      tags:
        - landRegistry
      summary: Retrieve Land Title Reference PEXA eligibility.
      description: >
        Verifies whether the land title reference is currently 'in use' in other
        workspaces and whether the land title reference is

        eligible for electronic lodgement. A list of workspace and subscriber's
        public details (if available) will be returned if the

        land title is being utilised in other workspaces. If the response
        specifies that the land title reference is not eligible for

        electronic lodgement then the transaction cannot be completed in PEXA.
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - name: landTitleReference
          in: query
          description: The land title reference.
          required: true
          schema:
            type: string
        - name: jurisdiction
          in: query
          description: The jurisdiction the land title reference belongs to.
          required: true
          schema:
            type: string
            enum:
              - NSW
              - NT
              - QLD
              - SA
              - TAS
              - VIC
              - WA
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/LandTitleReferenceVerificationResponse'
        '400':
         description: Exception
         content:
           application/xml:
             schema:
               $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v2/workspace:
    post:
      tags:
        - workspace
      summary: Initiate Workspace Creation
      description: >
        Initiates workspace creation in PEXA where the subscriber will have the
        ability to push their client details (i.e. party details) and the land
        title reference(s). Newly created workspaces will be automatically
        assigned to a workgroup following the default workgroup rules set up in
        PEXA for the subscriber.
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkspaceCreationResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/WorkspaceCreationRequest'
        required: true
  /v2/subscriber/workspaces:
     get:
        tags:
          - subscriber
        summary: Retrieve workspaces
        description: >
          Retrieves a list of workspace including the subscriber's role, the workspace last modified date and workspace number that belong to the workgroup(s) the user is assigned to.
          The workspaces returned through this API will reflect the same workspaces the user sees in PEXA based on their assigned workgroups.
        parameters:
          - name: subscriberId
            in: query
            description: >-
              The PEXA internal reference for the subscriber initiating the API
              service call. Note: Subscriber Id is not required for any
              subscribers using token based authentication (OAuth, SAML etc.). For
              mutual SSL authentication, the Subscriber Id must be provided.
            required: false
            schema:
              type: integer
              maxLength: 19
          - name: workgroupId
            in: query
            description: Workgroup ID
            required: false
            schema:
              type: integer
              maxLength: 19
          - name: workspaceStatus
            in: query
            description: >
              Workspace status
              If not provided, all workspaces in the category of 'Active' or 'Completed' that are not archived will be returned.
            required: false
            schema:
              type: string
              enum:
                - Active
                - Completed
                - Abandoned
                - Archived
          - name: workspaceLastActivityFrom
            in: query
            description: >
             Workspace last modified timestamp to filter from.
             To retrieve the next lot of data where 'More Data' is set to 'Yes', this will be the 'Last Activity' timestamp obtained from the response
            required: false
            schema:
             type: string
             format: date-time
            example: "2017-11-20T00:00:00.000Z"
        responses:
          '200':
            description: Successful response
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/WorkspaceRetrievalResponse'
          '400':
            description: Exception
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/ExceptionResponse'
          '401':
            description: Unauthenticated
          '403':
            description: Forbidden
  /v1/subscriber/workgroups:
     get:
        tags:
          - subscriber
        summary: Retrieve workgroups
        description: >
          Retrieves PEXA workgroups and workgroup user assignments. The user invoking this end point must be in a user role of 'Subscriber Manager' or 'Subscriber Administrator'.
        parameters:
          - name: subscriberId
            in: query
            description: >-
              The PEXA internal reference for the subscriber initiating the API
              service call. Note: Subscriber Id is not required for any
              subscribers using token based authentication (OAuth, SAML etc.). For
              mutual SSL authentication, the Subscriber Id must be provided.
            required: false
            schema:
              type: integer
              maxLength: 19
        responses:
          '200':
            description: Successful response
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/WorkgroupRetrievalResponse'
          '400':
            description: Exception
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/ExceptionResponse'
          '401':
            description: Unauthenticated
          '403':
            description: Forbidden
  /v1/workspace:
    get:
      tags:
        - workspace
      summary: Retrieve Workspace Summary
      description: Test
      parameters:
        - name: subscriberId
          in: query
          description: >-
            The PEXA internal reference for the subscriber initiating the API
            service call. Note: Subscriber Id is not required for any
            subscribers using token based authentication (OAuth, SAML etc.). For
            mutual SSL authentication, the Subscriber Id must be provided.
          required: false
          schema:
            type: integer
            maxLength: 19
        - name: workspaceId
          in: query
          description: PEXA workspace number
          required: true
          schema:
            type: string
            maxLength: 13
        - name: subscriberRole
          in: query
          description: Subscriber's role in the workspace
          required: true
          schema:
            type: string
            enum:
              - Mortgagee on Title
              - Proprietor on Title
              - Caveator on Title
              - Incoming Mortgagee
              - Incoming Proprietor
              - Incoming Caveator
              - CT Controller
        - name: subset
          in: query
          description: >
            Request for a subset of the data available. Each value must be separated with a comma (,) with no spaces.
            If not provided, all available data will be returned. Refer to Subset Of Retrieve Workspace Summary Data for valid values.
          required: false
          schema:
            type: string
            maxLength: 19
        - name: lastEventId
          in: query
          description: >
            The last business event ID received. This can be provided if subset is 'events' or when all data has been requested.
            If provided, the response will contain only new business events after the ID.
            This can be used to retrieve the next set of records when 'More Data' is set to 'Yes' in the response.
          required: false
          schema:
            type: string
            maxLength: 19
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkspaceSummaryResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
    put:
      tags:
        - workspace
      summary: Initiate Workspace Update
      description: >
        Initiates the workspace update process where the subscriber will have
        the ability to update workspace related data such as subscriber
        reference, update or add their client details (i.e. party details) and
        add land title reference(s). A subscriber can only update workspaces in
        the status of 'In Preparation', 'Prepared' and 'Ready'.


        Note that any updates to party details where documents have already been
        signed will un-sign the documents or impact the lodgement. For any
        updates to an existing party record, the complete party detail record
        must be provided.


        The only 'on Title' party which can currently be edited via this API is
        the 'Proprietor on Title' who the subscriber must represent in the
        workspace and only if the party is an Individual. Any justifications to
        '%on Title' names must still be done in PEXA.
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkspaceUpdateResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/WorkspaceUpdateRequest'
        required: true
  /v1/workspace/invitation:
    post:
      tags:
        - workspace
        - invite
      summary:
        Create Workspace Invitation
      description: 'The create invitation API facilitates a subscriber being able to create and send an invitation to another subscriber to join the workspace. Also Note that only ten participants can be active at one time in the same workspace.'
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateWorkspaceInvitationRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkspaceInvitationResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/subscriber/invitation:
    put:
      tags:
        - subscriber
        - invite
      summary:
        Respond to Invitation Received
      description: 'Respond to Invitations is a web service provided to allow subscriber users to respond to pending PEXA workspace invitations. Subscriber users have the ability to accept, decline or return a PEXA workspace invitation and provide a reason for the response.'
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/RespondInvitationRequest'
        required: true
      responses:
        '200':
          description: Successful response
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/subscriber/invitations:
    get:
      tags:
        - subscriber
        - invite
      summary: Retrieve outstanding invitations
      description: Retrieves outstanding invitations to workspaces for the workgroup the user is assigned to. The invitations returned through this API will reflect the same invitations the user sees in PEXA based on their assigned workgroups
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - $ref: '#/components/parameters/workgroupId'
        - $ref: '#/components/parameters/lastInviteId'
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvitationRetrievalResponse'
        '400':
          $ref: "#/components/responses/ExceptionResponse"
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/subscriber/invitations/{type}:
    get:
      tags:
        - subscriber
        - invite
      summary: Retrieve outstanding invitations
      description: Retrieves outstanding invitations to workspaces for the workgroup the user is assigned to. The invitations returned through this API will reflect the same invitations the user sees in PEXA based on their assigned workgroups
      parameters:
        - in: path
          name: 'type'
          schema:
            type: string
            enum:
              - received
              - sent
          description: Type of invitations to retrieve
          required: true
        - $ref: '#/components/parameters/subscriberId'
        - $ref: '#/components/parameters/workgroupId'
        - $ref: '#/components/parameters/lastInviteId'
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/InvitationRetrievalResponse'
        '400':
          $ref: "#/components/responses/ExceptionResponse"
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v2/subscriber/notifications:
    get:
      tags:
        - subscriber
      summary: Retrieve Notifications
      description: >-
        Retrieves the notifications for a given range specified in the request,
        belonging to the subscriber or organisation. The subscriber may elect to
        filter the result set further by providing additional criteria in the
        request message. The notifications will include details of the event
        that has occurred.
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - $ref: '#/components/parameters/lastEventTimestamp'
        - $ref: '#/components/parameters/lastEventId'
        - $ref: '#/components/parameters/maxRecords'
        - $ref: '#/components/parameters/severity'
        - $ref: '#/components/parameters/categoryList'
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RetrieveNotificationsResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/documents:
    get:
      tags:
        - workspace
        - document
      summary: Retrieve lodged PEXA workspace documents
      description: >
        Retrieves the workspace documents that have been digitally signed by the subscriber and lodged with a jurisdictional land registry.
        The lodgement case must be in the status of 'Lodged', 'Completed' or 'Not Accepted' (i.e. lodgement case must not be in the status of 'In Preparation', 'Prepared' or 'Ready').
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/subscriberRole'
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/WorkspaceDocumentRetrieval'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/financial:
    get:
      tags:
        - workspace
      summary: Retrieve settlement statement
      description: >
        Retrieves the rendered financial settlement statement containing all the financial line items that belong to the subscriber in the specified role.
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - $ref: '#/components/parameters/workspaceId'
        - $ref: '#/components/parameters/subscriberRole'
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SettlementStatement'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
    post:
      tags:
        - workspace
      summary: Upload financial settlement line items
      description: >
        Where a settlement schedule does not exist in the workspace, this end
        point, provided the PEXA Workspace meets the criteria for Financial
        Settlement, create a settlement schedule and add financial settlement
        line items to the settlement schedule. Only end state figures may be
        entered into the schedule. A subscriber can only add financial line
        items to a workspace in the status of 'In Preparation', 'Prepared' and
        'Ready'.


        Note that each invocation of this end point will overwrite and replace
        the subscriber's settlement schedule financial line items in PEXA. The
        exception to this rule is source financial line items funded by the
        default PEXA trust account where funds have been verified and any system
        generated financial line items e.g. stamp duty.
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SettlementUploadRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/SettlementUploadResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/settlement:
    get:
      tags:
        - workspace
      summary: Retrieve settlement availability
      description: >
        Retrieves a list of available settlement times for the given date which is specified in the request. Settlement availability can be retrieved either pre or post creation of the workspace
      parameters:
        - $ref: '#/components/parameters/subscriberId'
        - name: workspaceId
          in: query
          description: >
            PEXA workspace number.

            Used if wanting to find out the available settlement times for an existing created workspace.

            This must not be provided if jurisdiction is also provided.

            If jurisdiction is not provided, this field is mandatory.
          schema:
            type: string
            maxLength: 13
        - name: jurisdiction
          in: query
          description: >
            Used if wanting to find out the available settlement times prior to creating a workspace in a certain jurisdiction.
            This must not be provided if workspaceId is provided.
            If workspaceId is not provided, this field is mandatory.
          schema:
            type: string
            enum:
              - NSW
              - NT
              - QLD
              - SA
              - TAS
              - VIC
              - WA
        - name: settlementDate
          in: query
          description: >
            All available times will be retrieved for the settlement date provided.
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/RetrieveSettlementAvailabilityResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
    put:
      tags:
        - workspace
      summary: Maintain settlement date and time
      description: >
        Maintain settlement date and time is a service which will allow subscriber users to manage the settlement date and time details within the workspace. This will provide them the capability to propose a new settlement date/time, accept a proposed settlement date/time or reset their settlement acceptance status to pending.
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/MaintainSettlementDateAndTimeRequest'
        required: true
      responses:
        '200':
          description: Successful response
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/data:
    put:
      tags:
        - workspace
      summary: Manage default workspace data
      description: >
        The manage workspace data API provides the ability for data to be added or edited in an existing workspace when in the role of either Proprietor on Title or Incoming Proprietor.
        Note that each invocation of this end point using the PUT method will overwrite and replace the existing data within the PEXA workspace as such the complete set of workspace data must be provided for each PUT invocation of this API based on Transaction or Property details being updated.
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ManageWorkspaceDataRequest'
        required: true
      responses:
        '200':
          description: Successful response
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/duty:
    put:
      tags:
        - workspace
      summary: Manage transfer duty data
      description: >
        The manage transfer duty data API provides the ability for stamp duty data to be added or edited in an existing workspace which contains a transfer document(s) and when in the role of Incoming Proprietor.
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ManageTransferDutyRequest'
        required: true
      responses:
        '200':
          description: Successful response
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/documents/dischargeMortgage:
    post:
      tags:
        - workspace
        - document
      summary: Create discharge document **Premium, please ask PEXA for more details
      description: >
        The create discharge document API provides the ability to create a discharge document in the workspace
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateDischargeOfMortgageRequest'
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateDischargeOfMortgageResponse'
        '400':
          description: Exception
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ExceptionResponse'
        '401':
          description: Unauthenticated
        '403':
          description: Forbidden
  /v1/workspace/generateSettlementCompletionRecord:
      get:
        tags:
          - workspace
          - document
        summary: generate the settlement completion record
        description: >
          Generates the settlement completion record for a workspacethats has been completed
        parameters:
          - name: subscriberRole
            in: query
            description: Subscriber's role in the workspace
            required: true
            schema:
              type: string
              enum:
                - Mortgagee on Title
                - Proprietor on Title
                - Caveator on Title
                - Incoming Mortgagee
                - Incoming Proprietor
                - Incoming Caveator
                - CT Controller
          - name: workspaceId
            in: query
            description: PEXA workspace number
            required: true
            schema:
              type: string
              maxLength: 13
        responses:
          '200':
            description: Successful response
            content:
              application/pdf:
                schema:
                  type: string
                  format: binary
          '400':
            description: Exception
            content:
              application/xml:
                schema:
                  $ref: '#/components/schemas/ExceptionResponse'
          '401':
            description: Unauthenticated
          '403':
            description: Forbidden
  /v1/subscriber/conversations:
    get:
      tags:
      - subscriber
      summary: Retrieve unread conversations
      responses:
        '200':
          description: OK
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ConversationsRetrievalResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/workspace/{workspaceId}/conversations':
    get:
      tags:
      - workspace
      summary: Retrieve conversations list for a workspace
      parameters:
      - name: role
        in: query
        description: Subscriber's role in the workspace
        required: true
        schema:
          type: string
          enum:
          - Mortgagee on Title
          - Proprietor on Title
          - Caveator on Title
          - Incoming Mortgagee
          - Incoming Proprietor
          - Incoming Caveator
          - CT Controller
      - name: workspaceId
        in: path
        description: PEXA workspace number
        required: true
        schema:
          type: string
          maxLength: 13
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/ConversationsRetrievalResponse'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/v1/subscriber/conversation/{conversationId}/message':
    post:
      tags:
      - subscriber
      summary: Send a message to an existing conversation
      parameters:
      - name: conversationId
        in: path
        description: conversationId
        required: true
        schema:
          type: string
      - name: role
        in: query
        description: role
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    ExceptionResponse:
      type: object
      required:
        - ExceptionList
      properties:
        ExceptionList:
          type: object
          required:
            - Code
            - Message
          properties:
            Code:
              type: string
            Message:
              type: string
    KeyValuePair:
      type: object
      required:
        - Key
        - Value
      properties:
        Key:
          type: string
        Value:
          type: string
    FullName:
      type: object
      required:
        - GivenName
      maximum: 1
      minimum: 0
      properties:
        NameTitle:
          type: string
          enum:
            - ABBOT
            - AB
            - ADML
            - ACM
            - AIRCDRE
            - AM
            - AVM
            - AC
            - ACW
            - ALD
            - AMBSR
            - ARCHBISHOP
            - ARCHDEACON
            - ASSOC PROF
            - BARON
            - BARONESS
            - BISHOP
            - BDR
            - BRIG
            - BR
            - CDT
            - CANON
            - CAPT
            - CARDNL
            - CHAP
            - CPO
            - COL
            - CMDR
            - CMM
            - CDRE
            - CONST
            - CONSUL
            - CPL
            - COUNT
            - COUNTESS
            - DAME
            - DEACON
            - DEACONESS
            - DEAN
            - DEPUTY SUPT
            - DIRECTOR
            - DR
            - EARL
            - ENGR
            - FR
            - FLTLT
            - FSGT
            - FLGOFF
            - GEN
            - GOV
            - GP CAPT
            - HON
            - JUDGE
            - JUSTICE
            - LADY
            - LBDR
            - LCPL
            - LAC
            - LACW
            - LS
            - LT
            - LEUT
            - LTCOL
            - LTCDR
            - LTGEN
            - LTGOV
            - LORD
            - MADAM
            - MADAME
            - MAJ
            - MAJGEN
            - MGR
            - MSTR
            - MAYOR
            - MAYORESS
            - MIDN
            - MISS
            - MR
            - MON
            - MOST REV
            - MTHR
            - MRS
            - MS
            - NURSE
            - OCDT
            - PASTOR
            - PO
            - PLTOFF
            - PTE
            - PROF
            - RABBI
            - RADM
            - RECTOR
            - RSM-A
            - REV
            - RTHON
            - RT REV
            - SMN
            - 2LT
            - SEN
            - SNR
            - SGT
            - SIR
            - SR
            - SISTER SUP
            - SQNLDR
            - SCDT
            - SSGT
            - SM
            - SBLT
            - UPT
            - SWAMI
            - VADM
            - VCE CMNDR
            - VISCOUNT
            - WOFF
            - WO
            - WO1
            - WO2
            - WOFF-AF
            - WO-N
            - WCDR
        GivenName:
          type: array
          minItems: 1
          items:
            type: object
            properties:
              order:
                type: integer
                xml:
                  attribute: true
        FamilyName:
          type: string
          example: John
        FamilyNameOrder:
          type: string
          enum:
            - Last
            - First
        NameSuffix:
          type: string
          example: Jr
        DateOfBirth:
          type: string
          format: date
          example: '1960-03-01'
    Business:
      type: object
      required:
        - LegalEntityName
      properties:
        LegalEntityName:
          type: string
          example: ABC Organisation
        BusinessName:
          type: string
        BusinessUnit:
          type: string
        OrganisationType:
          type: string
          enum:
            - Charitable body
            - Commonwealth government or body
            - Co-operative
            - Foreign company – unregistered
            - Incorporated Association
            - Local government or body
            - Non-government statutory entity
            - Other legal entity
            - Registered Australian body or foreign company
            - Registered company
            - Registered company in external administration
            - Religious body
            - State/Territory government or body
            - Subdivisional body
            - Trade Union
        AdministrationStatus:
          type: array
          maxItems: 2
          items:
            type: string
            enum:
              - Administrator appointed
              - Controller appointed
              - In liquidation
              - Receiver and manager appointed
              - Receiver appointed
              - Subject to a deed of company arrangement
        Identification:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - Identifier
              - Value
            properties:
              Identifier:
                type: string
                enum:
                  - ABN
                  - ACLN
                  - ACN
                  - ARBN
                  - GPR
              Value:
                type: string
    Address1:
      type: object
      description: One of the following 'Street Address' or 'Overseas Address'
      properties:
        StreetAddress:
          $ref: '#/components/schemas/StreetAddress1'
        OverseasAddress:
          $ref: '#/components/schemas/OverseasAddress1'
    Address2:
      type: object
      description: >
        One of the following 'Street Address' or 'Overseas Address' must be
        provided when adding a new party to the workspace.


        Must not be provided if Party Role is a '%on Title' role except if
        updating the 'Proprietor on Title' party who the subscriber represents.
      properties:
        CorrespondenceAddress:
          $ref: '#/components/schemas/CorrespondenceAddress2'
        StreetAddress:
          $ref: '#/components/schemas/StreetAddress2'
        OverseasAddress:
          $ref: '#/components/schemas/OverseasAddress2'
    StreetAddress1:
      type: object
      properties:
        SubDwellingUnitType:
          $ref: '#/components/schemas/SubDwellingUnitType'
        Level:
          $ref: '#/components/schemas/LevelDetailsType'
        ComplexRoad:
          type: array
          maxItems: 2
          minItems: 0
          items:
            $ref: '#/components/schemas/ComplexRoad'
        SecondaryComplex:
          type: string
          description: >-
            Valid character set: alphanumeric and spaces only. For complex
            addresses
          maxLength: 100
        AddressSiteName:
          type: string
          description: 'Valid character set: alphanumeric and spaces only.'
          maxLength: 30
        Road:
          $ref: '#/components/schemas/Road'
        LocalityName:
          type: string
          description: 'Valid character set: alphabetic and spaces only.'
          maxLength: 100
        Postcode:
          type: string
          description: 'Valid character set: numeric only.'
          maxLength: 4
        State:
          type: string
          enum:
            - ACT
            - NSW
            - NT
            - QLD
            - SA
            - TAS
            - VIC
            - WA
    CorrespondenceAddress2:
      type: object
      required:
        - PostalDelivery
        - Road
        - LocalityName
        - Postcode
        - State
      properties:
        PostalDelivery:
          $ref: '#/components/schemas/PostalDeliveryType'
        Road:
          $ref: '#/components/schemas/Road'
        LocalityName:
          type: string
          description: 'Valid character set: alphabetic and spaces only.'
          maxLength: 35
        Postcode:
          type: string
          description: 'Valid character set: numeric only.'
          maxLength: 4
        State:
          type: string
          enum:
            - ACT
            - NSW
            - NT
            - QLD
            - SA
            - TAS
            - VIC
            - WA
    PostalDeliveryType:
      type: object
      required:
        - PostalDeliveryTypeCode
      properties:
        PostalDeliveryTypeCode:
          type: string
          description: 'Identifier for different address types'
          maxLength: 100
          enum:
            - CARE_PO
            - CCARE_PO
            - CMA
            - CMB
            - GPO_BAG
            - GPO_BOX
            - LOCKED_BAG
            - MS
            - PO_BOX
            - PRIVATE_BAG
            - RBN
            - RSD
            - RMB
            - RMS
        PostalDeliveryNumber:
          type: string
          description: 'Valid character set: numeric only.'
          maxLength: 100
          example: 1234
    StreetAddress2:
      type: object
      required:
        - LocalityName
        - Postcode
        - State
      properties:
        SubDwellingUnitType:
          $ref: '#/components/schemas/SubDwellingUnitType'
        Level:
          $ref: '#/components/schemas/LevelDetailsType'
        ComplexRoad:
          type: array
          maxItems: 2
          minItems: 0
          items:
            $ref: '#/components/schemas/ComplexRoad'
        SecondaryComplex:
          type: string
          description: >-
            Valid character set: alphanumeric and spaces only. For complex
            addresses
          maxLength: 100
        AddressSiteName:
          type: string
          description: 'Valid character set: alphanumeric and spaces only.'
          maxLength: 30
        Road:
          $ref: '#/components/schemas/Road'
        LocalityName:
          type: string
          description: 'Valid character set: alphabetic and spaces only.'
          maxLength: 35
        Postcode:
          type: string
          description: 'Valid character set: numeric only.'
          maxLength: 4
        State:
          type: string
          enum:
            - ACT
            - NSW
            - NT
            - QLD
            - SA
            - TAS
            - VIC
            - WA
    SubDwellingUnitType:
      type: object
      required:
        - UnitTypeCode
        - UnitNumber
      properties:
        UnitTypeCode:
          type: string
          enum:
            - ANT
            - APT
            - AT
            - ATM
            - BBQ
            - BLDG
            - BNGW
            - BTSD
            - CAGE
            - CARP
            - CARS
            - CLUB
            - CO
            - COOL
            - CTGE
            - DUPL
            - FCTY
            - FLAT
            - GRGE
            - HALL
            - HSE
            - KSK
            - LBBY
            - LOFT
            - LOT
            - LSE
            - MBTH
            - MSNT
            - OFFC
            - PTHS
            - RESV
            - ROOM
            - SE
            - SHED
            - SHOP
            - SHRM
            - SIGN
            - SITE
            - STLL
            - STOR
            - STR
            - STU
            - SUBS
            - TNCY
            - TNHS
            - TWR
            - UNIT
            - VLLA
            - VLT
            - WARD
            - WHSE
            - WKSH
        UnitNumber:
          type: string
          maxLength: 5
    LevelDetailsType:
      type: object
      required:
        - LevelTypeCode
      properties:
        LevelTypeCode:
          type: string
          enum:
            - B
            - FL
            - G
            - L
            - LG
            - LL
            - M
            - OD
            - P
            - PDM
            - PLF
            - PTHS
            - RT
            - SB
            - UG
        LevelNumber:
          type: string
          maxLength: 5
    OrderAttributeType:
      type: object
      properties:
        order:
          type: integer
          xml:
            attribute: true
    ComplexRoad:
      type: object
      properties:
        order:
          type: integer
          xml:
            attribute: true
        RoadNumber:
          type: array
          maxItems: 2
          minItems: 0
          items:
            $ref: '#/components/schemas/OrderAttributeType'
        RoadName:
          type: string
          maxLength: 100
        RoadTypeCode:
          type: string
          enum:
            - ACCS
            - ALLY
            - ALWY
            - AMBL
            - ANCG
            - APP
            - ARC
            - ARTL
            - ARTY
            - AV
            - BA
            - BANK
            - BASN
            - BAY
            - BCH
            - BDGE
            - BDWY
            - BEND
            - BLK
            - BOWL
            - BR
            - BRAE
            - BRK
            - BROW
            - BVD
            - BVDE
            - BWLK
            - BYPA
            - BYWY
            - CCT
            - CH
            - CIR
            - CL
            - CLDE
            - CLST
            - CLT
            - CMMN
            - CNR
            - CNWY
            - CON
            - COVE
            - COWY
            - CPS
            - CR
            - CRCS
            - CRD
            - CRSE
            - CRSG
            - CRSS
            - CRST
            - CSAC
            - CSO
            - CSWY
            - CT
            - CTR
            - CTT
            - CTYD
            - CUWY
            - CX
            - DALE
            - DELL
            - DENE
            - DEVN
            - DIP
            - DIV
            - DMN
            - DOCK
            - DR
            - DSTR
            - DVWY
            - EDGE
            - ELB
            - END
            - ENT
            - ESP
            - EST
            - EXP
            - EXTN
            - FAWY
            - FB
            - FE
            - FITR
            - FLAT
            - FLTS
            - FOLW
            - FORD
            - FORM
            - FRNT
            - FRTG
            - FSHR
            - FTRK
            - FTWY
            - FWY
            - GAP
            - GDN
            - GDNS
            - GLDE
            - GLEN
            - GLY
            - GR
            - GRA
            - GRN
            - GRND
            - GTE
            - GTWY
            - HILL
            - HOLW
            - HRBR
            - HTH
            - HTRD
            - HTS
            - HUB
            - HWY
            - INTG
            - INTN
            - ISLD
            - JNC
            - KEY
            - KEYS
            - LANE
            - LDG
            - LEES
            - LINE
            - LINK
            - LKT
            - LNWY
            - LOOP
            - LT
            - LWR
            - MALL
            - MEW
            - MEWS
            - MNDR
            - MNR
            - MT
            - MTWY
            - NOOK
            - OTLK
            - OTLT
            - PARK
            - PART
            - PASS
            - PATH
            - PDE
            - PIAZ
            - PKLD
            - PKT
            - PL
            - PLAT
            - PLZA
            - PNT
            - PORT
            - PROM
            - PRST
            - PSGE
            - PWAY
            - PWY
            - QDGL
            - QDRT
            - QUAD
            - QY
            - QYS
            - RAMP
            - RCH
            - RD
            - RDGE
            - RDS
            - RDSD
            - RDWY
            - RES
            - REST
            - RGWY
            - RIDE
            - RING
            - RISE
            - RMBL
            - RND
            - RNDE
            - RNGE
            - ROW
            - ROWY
            - RSBL
            - RSNG
            - RTE
            - RTRN
            - RTT
            - RTY
            - RUE
            - RUN
            - RVR
            - RVRA
            - RVWY
            - SBWY
            - SDNG
            - SHUN
            - SHWY
            - SLPE
            - SND
            - SPUR
            - SQ
            - ST
            - STPS
            - STRA
            - STRP
            - STRS
            - SVWY
            - TARN
            - TCE
            - THFR
            - TKWY
            - TLWY
            - TOP
            - TOR
            - TRI
            - TRK
            - TRL
            - TRLR
            - TRWY
            - TURN
            - TWIST
            - TWRS
            - UPAS
            - UPR
            - VALE
            - VIAD
            - VIEW
            - VLLS
            - VLLY
            - VSTA
            - VWS
            - WADE
            - WALK
            - WAY
            - WDS
            - WHRF
            - WKWY
            - WTRS
            - WTWY
            - WYND
            - YARD
        RoadSuffixCode:
          type: string
          enum:
            - CN
            - DV
            - E
            - EX
            - IN
            - LR
            - MA
            - 'N'
            - NE
            - NW
            - OF
            - 'ON'
            - OU
            - S
            - SE
            - SW
            - UP
            - W
    Road:
      type: object
      required:
        - RoadName
        - RoadTypeCode
      properties:
        LotNumber:
          type: string
          maxLength: 6
        RoadNumber:
          type: string
          maxLength: 11
        RoadName:
          type: string
          maxLength: 100
        RoadTypeCode:
          type: string
          enum:
            - ACCS
            - ALLY
            - ALWY
            - AMBL
            - ANCG
            - APP
            - ARC
            - ARTL
            - ARTY
            - AV
            - BA
            - BANK
            - BASN
            - BAY
            - BCH
            - BDGE
            - BDWY
            - BEND
            - BLK
            - BOWL
            - BR
            - BRAE
            - BRK
            - BROW
            - BVD
            - BVDE
            - BWLK
            - BYPA
            - BYWY
            - CCT
            - CH
            - CIR
            - CL
            - CLDE
            - CLST
            - CLT
            - CMMN
            - CNR
            - CNWY
            - CON
            - COVE
            - COWY
            - CPS
            - CR
            - CRCS
            - CRD
            - CRSE
            - CRSG
            - CRSS
            - CRST
            - CSAC
            - CSO
            - CSWY
            - CT
            - CTR
            - CTT
            - CTYD
            - CUWY
            - CX
            - DALE
            - DELL
            - DENE
            - DEVN
            - DIP
            - DIV
            - DMN
            - DOCK
            - DR
            - DSTR
            - DVWY
            - EDGE
            - ELB
            - END
            - ENT
            - ESP
            - EST
            - EXP
            - EXTN
            - FAWY
            - FB
            - FE
            - FITR
            - FLAT
            - FLTS
            - FOLW
            - FORD
            - FORM
            - FRNT
            - FRTG
            - FSHR
            - FTRK
            - FTWY
            - FWY
            - GAP
            - GDN
            - GDNS
            - GLDE
            - GLEN
            - GLY
            - GR
            - GRA
            - GRN
            - GRND
            - GTE
            - GTWY
            - HILL
            - HOLW
            - HRBR
            - HTH
            - HTRD
            - HTS
            - HUB
            - HWY
            - INTG
            - INTN
            - ISLD
            - JNC
            - KEY
            - KEYS
            - LANE
            - LDG
            - LEES
            - LINE
            - LINK
            - LKT
            - LNWY
            - LOOP
            - LT
            - LWR
            - MALL
            - MEW
            - MEWS
            - MNDR
            - MNR
            - MT
            - MTWY
            - NOOK
            - OTLK
            - OTLT
            - PARK
            - PART
            - PASS
            - PATH
            - PDE
            - PIAZ
            - PKLD
            - PKT
            - PL
            - PLAT
            - PLZA
            - PNT
            - PORT
            - PROM
            - PRST
            - PSGE
            - PWAY
            - PWY
            - QDGL
            - QDRT
            - QUAD
            - QY
            - QYS
            - RAMP
            - RCH
            - RD
            - RDGE
            - RDS
            - RDSD
            - RDWY
            - RES
            - REST
            - RGWY
            - RIDE
            - RING
            - RISE
            - RMBL
            - RND
            - RNDE
            - RNGE
            - ROW
            - ROWY
            - RSBL
            - RSNG
            - RTE
            - RTRN
            - RTT
            - RTY
            - RUE
            - RUN
            - RVR
            - RVRA
            - RVWY
            - SBWY
            - SDNG
            - SHUN
            - SHWY
            - SLPE
            - SND
            - SPUR
            - SQ
            - ST
            - STPS
            - STRA
            - STRP
            - STRS
            - SVWY
            - TARN
            - TCE
            - THFR
            - TKWY
            - TLWY
            - TOP
            - TOR
            - TRI
            - TRK
            - TRL
            - TRLR
            - TRWY
            - TURN
            - TWIST
            - TWRS
            - UPAS
            - UPR
            - VALE
            - VIAD
            - VIEW
            - VLLS
            - VLLY
            - VSTA
            - VWS
            - WADE
            - WALK
            - WAY
            - WDS
            - WHRF
            - WKWY
            - WTRS
            - WTWY
            - WYND
            - YARD
        RoadSuffixCode:
          type: string
          enum:
            - CN
            - DV
            - E
            - EX
            - IN
            - LR
            - MA
            - N
            - NE
            - NW
            - OF
            - ON
            - OU
            - S
            - SE
            - SW
            - UP
            - W
    OverseasAddress1:
      type: object
      properties:
        AddressLine:
          type: array
          description: >
            Unstructured address line


            Valid character set: alphanumeric, hyphens, apostrophes,
            slashes, spaces, commas, brackets and full stops only.
          minItems: 1
          maxItems: 1
          maxLength: 70
          items:
            $ref: '#/components/schemas/OrderAttributeType'
        PostalCode:
          type: string
          description: 'Valid character set: alphanumeric'
          maxLength: 6
        CountryCode:
          type: string
          enum:
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CR
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - NO
            - NP
            - NR
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SV
            - SX
            - SY
            - SZ
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - YE
            - YT
            - ZA
            - ZM
            - ZW
    OverseasAddress2:
      type: object
      required:
        - AddressLine
        - CountryCode
      properties:
        AddressLine:
          type: array
          description: >
            Unstructured address line


            Valid character set: alphanumeric, hyphens, apostrophes,
            slashes, spaces, commas, brackets and full stops only.
          minItems: 1
          maxItems: 1
          maxLength: 70
          items:
            $ref: '#/components/schemas/OrderAttributeType'
        PostalCode:
          type: string
          description: 'Valid character set: alphanumeric'
          maxLength: 10
        CountryCode:
          type: string
          enum:
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AU
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CR
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - NO
            - NP
            - NR
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SV
            - SX
            - SY
            - SZ
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - YE
            - YT
            - ZA
            - ZM
            - ZW
    PartyCapacityDetails:
      type: object
      properties:
        PartyCapacityType:
          type: string
          enum:
            - Applicant
            - Custodian/Bare trustee
            - Deceased
            - Mortgagee
            - None of the above
            - Personal Representative
            - Residual
            - Trustee of a trust
        PartyCapacityDetail:
          type: string
          maxLength: 190
    TrustDetails:
      type: object
      required:
        - TrustIndicator
      properties:
        TrustIndicator:
          type: string
          enum:
            - 'Yes'
            - 'No'
        TrustName:
          type: string
          maxLength: 190
    ForeignPartyDetails:
      type: object
      required:
        - ForeignPartyIndicator
      properties:
        ForeignPartyIndicator:
          type: string
          enum:
            - 'Yes'
            - 'No'
        ForeignPartyType:
          type: string
          enum:
            - Wholly Foreign Company
            - Partly Foreign Company
            - Natural Person
        ForeignCountry:
          type: string
          enum:
            - AD
            - AE
            - AF
            - AG
            - AI
            - AL
            - AM
            - AO
            - AQ
            - AR
            - AS
            - AT
            - AW
            - AX
            - AZ
            - BA
            - BB
            - BD
            - BE
            - BF
            - BG
            - BH
            - BI
            - BJ
            - BL
            - BM
            - BN
            - BO
            - BQ
            - BR
            - BS
            - BT
            - BV
            - BW
            - BY
            - BZ
            - CA
            - CC
            - CD
            - CF
            - CG
            - CH
            - CI
            - CK
            - CL
            - CM
            - CN
            - CO
            - CR
            - CU
            - CV
            - CW
            - CX
            - CY
            - CZ
            - DE
            - DJ
            - DK
            - DM
            - DO
            - DZ
            - EC
            - EE
            - EG
            - EH
            - ER
            - ES
            - ET
            - FI
            - FJ
            - FK
            - FM
            - FO
            - FR
            - GA
            - GB
            - GD
            - GE
            - GF
            - GG
            - GH
            - GI
            - GL
            - GM
            - GN
            - GP
            - GQ
            - GR
            - GS
            - GT
            - GU
            - GW
            - GY
            - HK
            - HM
            - HN
            - HR
            - HT
            - HU
            - ID
            - IE
            - IL
            - IM
            - IN
            - IO
            - IQ
            - IR
            - IS
            - IT
            - JE
            - JM
            - JO
            - JP
            - KE
            - KG
            - KH
            - KI
            - KM
            - KN
            - KP
            - KR
            - KW
            - KY
            - KZ
            - LA
            - LB
            - LC
            - LI
            - LK
            - LR
            - LS
            - LT
            - LU
            - LV
            - LY
            - MA
            - MC
            - MD
            - ME
            - MF
            - MG
            - MH
            - MK
            - ML
            - MM
            - MN
            - MO
            - MP
            - MQ
            - MR
            - MS
            - MT
            - MU
            - MV
            - MW
            - MX
            - MY
            - MZ
            - NA
            - NC
            - NE
            - NF
            - NG
            - NI
            - NL
            - NO
            - NP
            - NR
            - NU
            - NZ
            - OM
            - PA
            - PE
            - PF
            - PG
            - PH
            - PK
            - PL
            - PM
            - PN
            - PR
            - PS
            - PT
            - PW
            - PY
            - QA
            - RE
            - RO
            - RS
            - RU
            - RW
            - SA
            - SB
            - SC
            - SD
            - SE
            - SG
            - SH
            - SI
            - SJ
            - SK
            - SL
            - SM
            - SN
            - SO
            - SR
            - SS
            - ST
            - SV
            - SX
            - SY
            - SZ
            - TC
            - TD
            - TF
            - TG
            - TH
            - TJ
            - TK
            - TL
            - TM
            - TN
            - TO
            - TR
            - TT
            - TV
            - TW
            - TZ
            - UA
            - UG
            - UM
            - US
            - UY
            - UZ
            - VA
            - VC
            - VE
            - VG
            - VI
            - VN
            - VU
            - WF
            - WS
            - YE
            - YT
            - ZA
            - ZM
            - ZW
        ResidentPartyIndicator:
          type: string
          enum:
            - 'Yes'
            - 'No'
        ForeignCountryShare:
          type: array
          minItems: 0
          items:
            type: object
            required:
              - ForeignShareholderCountry
              - ForeignPercent
            properties:
              ForeignShareholderCountry:
                type: string
                enum:
                  - AD
                  - AE
                  - AF
                  - AG
                  - AI
                  - AL
                  - AM
                  - AO
                  - AQ
                  - AR
                  - AS
                  - AT
                  - AU
                  - AW
                  - AX
                  - AZ
                  - BA
                  - BB
                  - BD
                  - BE
                  - BF
                  - BG
                  - BH
                  - BI
                  - BJ
                  - BL
                  - BM
                  - BN
                  - BO
                  - BQ
                  - BR
                  - BS
                  - BT
                  - BV
                  - BW
                  - BY
                  - BZ
                  - CA
                  - CC
                  - CD
                  - CF
                  - CG
                  - CH
                  - CI
                  - CK
                  - CL
                  - CM
                  - CN
                  - CO
                  - CR
                  - CU
                  - CV
                  - CW
                  - CX
                  - CY
                  - CZ
                  - DE
                  - DJ
                  - DK
                  - DM
                  - DO
                  - DZ
                  - EC
                  - EE
                  - EG
                  - EH
                  - ER
                  - ES
                  - ET
                  - FI
                  - FJ
                  - FK
                  - FM
                  - FO
                  - FR
                  - GA
                  - GB
                  - GD
                  - GE
                  - GF
                  - GG
                  - GH
                  - GI
                  - GL
                  - GM
                  - GN
                  - GP
                  - GQ
                  - GR
                  - GS
                  - GT
                  - GU
                  - GW
                  - GY
                  - HK
                  - HM
                  - HN
                  - HR
                  - HT
                  - HU
                  - ID
                  - IE
                  - IL
                  - IM
                  - IN
                  - IO
                  - IQ
                  - IR
                  - IS
                  - IT
                  - JE
                  - JM
                  - JO
                  - JP
                  - KE
                  - KG
                  - KH
                  - KI
                  - KM
                  - KN
                  - KP
                  - KR
                  - KW
                  - KY
                  - KZ
                  - LA
                  - LB
                  - LC
                  - LI
                  - LK
                  - LR
                  - LS
                  - LT
                  - LU
                  - LV
                  - LY
                  - MA
                  - MC
                  - MD
                  - ME
                  - MF
                  - MG
                  - MH
                  - MK
                  - ML
                  - MM
                  - MN
                  - MO
                  - MP
                  - MQ
                  - MR
                  - MS
                  - MT
                  - MU
                  - MV
                  - MW
                  - MX
                  - MY
                  - MZ
                  - NA
                  - NC
                  - NE
                  - NF
                  - NG
                  - NI
                  - NL
                  - NO
                  - NP
                  - NR
                  - NU
                  - NZ
                  - OM
                  - PA
                  - PE
                  - PF
                  - PG
                  - PH
                  - PK
                  - PL
                  - PM
                  - PN
                  - PR
                  - PS
                  - PT
                  - PW
                  - PY
                  - QA
                  - RE
                  - RO
                  - RS
                  - RU
                  - RW
                  - SA
                  - SB
                  - SC
                  - SD
                  - SE
                  - SG
                  - SH
                  - SI
                  - SJ
                  - SK
                  - SL
                  - SM
                  - SN
                  - SO
                  - SR
                  - SS
                  - ST
                  - SV
                  - SX
                  - SY
                  - SZ
                  - TC
                  - TD
                  - TF
                  - TG
                  - TH
                  - TJ
                  - TK
                  - TL
                  - TM
                  - TN
                  - TO
                  - TR
                  - TT
                  - TV
                  - TW
                  - TZ
                  - UA
                  - UG
                  - UM
                  - US
                  - UY
                  - UZ
                  - VA
                  - VC
                  - VE
                  - VG
                  - VI
                  - VN
                  - VU
                  - WF
                  - WS
                  - YE
                  - YT
                  - ZA
                  - ZM
                  - ZW
              ForeignPercent:
                type: number
    WorkspaceCreationRequest:
      type: object
      required:
        - LandTitleDetails
        - RequestLandTitleData
        - Jurisdiction
        - Role
        - SubscriberReference
        - FinancialSettlement
      properties:
        SubscriberId:
          type: string
          description: >-
            The PEXA internal reference for the subscriber initiating the API
            service call. Note: Subscriber Id is not required for any
            subscribers using token based authentication (OAuth, SAML etc.). For
            mutual SSL authentication, the Subscriber Id must be provided.
          maxLength: 19
        LandTitleDetails:
          type: object
          required:
            - LandTitle
            - ParentTitle
          properties:
            LandTitle:
              type: array
              description: Must not exceed 20 land title references.
              minItems: 1
              items:
                type: object
                required:
                  - LandTitleReference
                properties:
                  LandTitleReference:
                    type: string
                  UnregisteredLotReference:
                    type: string
                    description: >
                      The unregistered lot references pending against the
                      land title specified.

                      Valid character set: alphanumeric, hyphens,
                      apostrophes, slashes, spaces, commas, brackets, colons,
                      semi-colons and full stops only.
              example:
                - LandTitleReference: '615/123'
                  UnregisteredLotReference: 'Lot 1 on SP123456 Herbert Roundback 23456789'
                - LandTitleReference: '715/123'
                  UnregisteredLotReference: 'Lot 2 on SP123456 Herbert Roundback 23456789'
            ParentTitle:
              type: string
              description: >
                Whether the land title reference is a parent title awaiting
                sub-division. This indicator applies to all land title
                references.


                Must be set to 'No' if Role is "CT Controller" or "Consentor".
              enum:
                - 'No'
                - 'Yes'
        RequestLandTitleData:
          type: string
          description: >
            Whether to obtain land title data as part of workspace creation.


            Must be set to 'No' if Parent Title is "Yes" or Role is "CT
            Controller" or "Consentor".
          enum:
            - 'Yes'
            - 'No'
        Jurisdiction:
          type: string
          enum:
            - NSW
            - NT
            - QLD
            - SA
            - TAS
            - VIC
            - WA
        Role:
          type: string
          description: Valid values are dependent on the subscriber type.
          enum:
            - Incoming Proprietor
            - Incoming Mortgagee
            - Incoming Caveator
            - Proprietor on Title
            - Mortgagee on Title
            - Caveator on Title
            - Consentor
            - CT Controller
            - Applicant
        SubscriberReference:
          type: string
          description: >-
            Subscriber's workspace reference. Users may utilise this to
            associate the workspace with an internal file or matter.
          maxLength: 200
          example: Matter/Loan 1234
        ProjectId:
          type: string
          description: >
            Used to provide an identifier and flag to PEXA that the workspace
            being created is associated to an aggregated external project.


            Usage will depend on the subscriber's setup within PEXA.
          maxLength: 19
          example: '12345'
        WorkgroupId:
          type: string
          description: >
            The identifier of the workgroup which the subscriber wishes to
            assign to the workspace upon creation.


            If no workgroup is provided, the subscribers default workgroup will
            be assigned to the workspace being created.
          maxLength: 19
          example: '11111'
        FinancialSettlement:
          type: string
          description: |
            Must be set to 'No' if Role is "CT Controller" or "Consentor".

            Can be set to 'Yes' or 'No' if Parent Title is "Yes".
          enum:
            - 'Yes'
            - 'No'
        SettlementDate:
          type: string
          format: date
          description: >
            Must be populated if Financial Settlement is "Yes" and Parent Title
            = "No".


            If Financial Settlement is "Yes" and Parent Title is "Yes" a date
            can be optionally provided for the workspace.


            Must not be provided when Financial Settlement is "No".


            Must not be provided when SettlementDateAndTime is provided.


            The settlement date cannot be greater than 6 months into the future
            and must not be prior to the current date.


            The settlement time will default to the first available time on the
            specified settlement date.
          example: '2016-09-01'
        SettlementDateAndTime:
          type: string
          format: timestamp
          description: >
            Must be populated if Financial Settlement is "Yes" and Parent Title
            = "No".


            If Financial Settlement is "Yes" and Parent Title is "Yes" a date
            can be optionally provided for the workspace.


            Must not be provided when Financial Settlement is "No".


            Must not be provided when SettlementDate is provided.


            The settlement date cannot be greater than 6 months into the future
            and must not be prior to the current date.


            The settlement time must be on the hour or half hour.
          example: '2016-09-01T23:30:00.000Z'
        ParticipantSettlementAcceptanceStatus:
          type: string
          description: >
            Ability to specify if the Settlement Date & Time should be
            considered accepted or pending when creating a workspace with
            settlement.


            If the workspace does not require settlement, the participant
            settlement acceptance status must not be provided.


            If the workspace does have settlement but no participant settlement
            acceptance status is provided, the subscribers default acceptance
            status will be used.
          enum:
            - Accepted
            - Pending
        PartyDetails:
          type: object
          description: >
            Details of the client(s) being represented.


            Party details must not be provided where Request Land Title Data is
            "No" with the exception of when Parent Title is "Yes" and the Role
            is "Incoming Proprietor" or "Proprietor on Title".


            If subscriber creating the party is of the Role "Proprietor on
            Title", only an Incoming Proprietor party can be created.
          required:
            - Party
          properties:
            Party:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - RepresentingParty
                  - PartyType
                  - PartyRole
                properties:
                  RepresentingParty:
                    type: string
                    description: >
                      Indicator that the party is being represented by the
                      subscriber. Only parties that are represented by the
                      subscriber can be created except for the Proprietor on
                      Title who can create an Incoming Proprietor party whom
                      they don't represent.


                      When the Role 'Proprietor on Title' creates an 'Incoming
                      Proprietor' party, this value must be set to 'No'


                      For any other Role creating a party, this value must be
                      set to 'Yes'.
                    enum:
                      - 'Yes'
                      - 'No'
                  PartyType:
                    type: string
                    enum:
                      - Individual
                      - Organisation
                  PartyRole:
                    type: string
                    enum:
                      - Incoming Proprietor
                      - Incoming Mortgagee
                      - Incoming Caveator
                  FullName:
                    $ref: '#/components/schemas/FullName'
                  Business:
                    $ref: '#/components/schemas/Business'
                  CurrentAddress:
                    $ref: '#/components/schemas/Address2'
                  FutureAddress:
                    $ref: '#/components/schemas/Address2'
                  PartyCapacityDetails:
                    $ref: '#/components/schemas/PartyCapacityDetails'
                  TrustDetails:
                    $ref: '#/components/schemas/TrustDetails'
                  ForeignPartyDetails:
                    $ref: '#/components/schemas/ForeignPartyDetails'
    WorkspaceUpdateRequest:
      type: object
      required:
        - WorkspaceId
        - Role
        - SubscriberReference
      properties:
        SubscriberId:
          type: string
          description: >
            The PEXA internal reference for the subscriber initiating the API
            service call.


            Note:  Subscriber Id is not required for any subscribers using
            token based authentication (OAuth, SAML etc.).


            For mutual SSL authentication, the Subscriber Id must be provided.
          maxLength: 19
        WorkspaceId:
          type: string
          description: PEXA workspace number
          maxLength: 13
        Role:
          type: string
          description: Valid values are dependent on the subscriber type.
          enum:
            - Incoming Proprietor
            - Incoming Mortgagee
            - Incoming Caveator
            - Proprietor on Title
            - Mortgagee on Title
            - Caveator on Title
            - Consentor
            - CT Controller
            - Applicant
        SubscriberReference:
          type: string
          description: >-
            Subscriber's workspace reference. Users may utilise this to
            associate the workspace with an internal file or matter.
          maxLength: 200
          example: Matter/Loan 1234
        LandTitleDetails:
          type: object
          required:
            - LandTitle
          properties:
            LandTitle:
              type: array
              description: Must not exceed 20 land title references.
              minItems: 1
              items:
                type: object
                required:
                  - LandTitleActionType
                  - LandTitleReference
                properties:
                  LandTitleActionType:
                    type: string
                    description: >-
                      Indicates the action to be taken for the land title record
                      provided.
                    enum:
                      - Create
                  LandTitleReference:
                    type: string
                    example: 615/123
                  UnregisteredLotReference:
                    type: string
                    description: >
                      The unregistered lot references pending against the
                      land title specified.

                      Valid character set: alphanumeric, hyphens,
                      apostrophes, slashes, spaces, commas, brackets, colons,
                      semi-colons and full stops only.
        NewSubscriberReference:
          type: string
          description: Updated subscriber's workspace reference.
          maxLength: 200
          example: Matter/Loan 2222
        AditionalRoleDetails:
          type: object
          required:
            - OtherRole
          properties:
            OtherRole:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - RoleActionType
                  - Role
                  - SubscriberReference
                  - IsDefaultRole
                properties:
                  RoleActionType:
                    type: string
                    description: >-
                      Action type
                  Role:
                    type: string
                    description: >-
                      Role
                  SubscriberReference:
                    type: string
                    description: >-
                      Role action type
                  IsDefaultRole:
                    type: string
                    description: >-
                      Whether default role or not
                    enum:
                      - Yes
                      - No
        PartyDetails:
          type: object
          description: Details of the client(s) being represented.
          required:
            - Party
          properties:
            Party:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - PartyActionType
                  - RepresentingParty
                properties:
                  PartyActionType:
                    type: string
                    description: >-
                      Indicates the action to be taken for the party record
                      provided.
                    enum:
                      - Create
                      - Update
                  PartyId:
                    type: string
                    description: |
                      Must be provided if updating an existing party record.

                      Must not be provided when adding a new party.
                  RepresentingParty:
                    type: string
                    description: >
                      Indicator that party is being represented by the
                      subscriber.


                      Withdrawal of representation must be completed in PEXA.


                      Must be set to 'Yes' except when a 'Proprietor on Title'
                      creates or updates an Incoming Proprietor party, in this
                      case, this must be set to 'No'.
                    enum:
                      - 'Yes'
                      - 'No'
                  PartyType:
                    type: string
                    description: >
                      Must be provided when adding a new party to the workspace.


                      Should not be provided if Party Role is a '%on Title'
                      except when updating a 'Proprietor on Title' party from an
                      'Indeterminate' party type to an 'Individual'.


                      A 'Proprietor on Title' party cannot be updated to an
                      'Organisation' party type. This needs to be done in PEXA.


                      'Indeterminate' is an invalid value.
                    enum:
                      - Individual
                      - Organisation
                  PartyRole:
                    type: string
                    description: >
                      Must be provided when adding a new party to the workspace.


                      Must not be provided if Party Role is in a '%on Title'
                      role.


                      A party role cannot be update once they have been created
                      in the workspace.
                    enum:
                      - Incoming Proprietor
                      - Incoming Mortgagee
                      - Incoming Caveator
                  FullName:
                    $ref: '#/components/schemas/FullName'
                  Business:
                    $ref: '#/components/schemas/Business'
                  CurrentAddress:
                    $ref: '#/components/schemas/Address2'
                  FutureAddress:
                    $ref: '#/components/schemas/Address2'
                  PartyCapacityDetails:
                    $ref: '#/components/schemas/PartyCapacityDetails'
                  TrustDetails:
                    $ref: '#/components/schemas/TrustDetails'
                  ForeignPartyDetails:
                    $ref: '#/components/schemas/ForeignPartyDetails'
    WorkspaceSummaryResponse:
      type: object
      required:
        - WorkspaceId
        - Role
        - Jurisdiction
        - Status
        - LandTitleDetails
      properties:
        WorkspaceId:
          type: string
          description: PEXA workspace number
          maxLength: 13
        Role:
          type: string
          description: The role the subscriber holds in the workspace.
          enum:
            - Incoming Proprietor
            - Incoming Mortgagee
            - Incoming Caveator
            - Proprietor on Title
            - Mortgagee on Title
            - Caveator on Title
            - Consentor
            - CT Controller
            - Applicant
            - Source Funder
        Jurisdiction:
          type: string
          enum:
            - NSW
            - NT
            - QLD
            - SA
            - TAS
            - VIC
            - WA
        Status:
          type: string
          description: The status of the workspace
          enum:
            - In Preparation
            - Prepared
            - Ready
            - Locked
            - Lodging
            - Lodged
            - Completed
            - Lodging & Settling
            - Lodged & Settling
            - Completed & Settling
            - Lodged & Settled
            - Lodging & Settled
            - Lodging & Disbursing
            - Lodging & Disbursed
            - Completed & Settled
            - Completed & Disbursing
            - Completed & Disbursed
            - Abandoned
            - Archived
            - OTHER
        LandTitleDetails:
          type: object
          properties:
            LandTitle:
              type: array
              minItems: 1
              items:
                type: object
                properties:
                  LandTitleReference:
                    type: string
                  ParentTitle:
                    type: string
                    description: >-
                      Whether the land title reference is a parent title
                      awaiting sub-division.
                    enum:
                      - 'No'
                      - 'Yes'
                  PropertyDetails:
                    type: string
                    description: >-
                      If available, a property address will be returned else a
                      property description will be returned. If both unavailable
                      then this element will not be sent back.
                    maxLength: 300
        ParticipantDetails:
          type: object
          description: Participants in the workspace
          required:
            - Participant
          properties:
            Participant:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - SubscriberName
                  - Workspace
                properties:
                  SubscriberName:
                    type: string
                    description: The subscriber name as seen in the PEXA user interface
                    maxLength: 30
                  Workspace:
                    type: array
                    description: >-
                      Returns the roles the subscriber is participating in the
                      workspace. The same subscriber may participate in the
                      workspace in multiple roles
                    minItems: 1
                    items:
                      type: object
                      required:
                        - Role
                        - Status
                      properties:
                        Role:
                          type: string
                          enum:
                            - Incoming Proprietor
                            - Incoming Mortgagee
                            - Incoming Caveator
                            - Proprietor on Title
                            - Mortgagee on Title
                            - Caveator on Title
                            - Consentor
                            - CT Controller
                            - Applicant
                            - Source Funder
                            - OTHER
                        SubscriberReference:
                          type: string
                          description: >-
                            Subscriber's workspace reference. Users may utilise
                            this to associate the workspace with an internal
                            file or matter.
                          maxLength: 200
                        Status:
                          type: string
                          description: The participants status in the workspace
                          enum:
                            - Pending
                            - Active
                            - OTHER
                        RepresentedParty:
                          type: object
                          description: >-
                            Parties represented by the participant. The ID can
                            be used to identify the party in 'Party Details'
                            complex type
                          required:
                            - Party
                          properties:
                            Party:
                              type: array
                              minItems: 1
                              items:
                                type: object
                                required:
                                  - PartyId
                                  - RepresentingSelf
                                properties:
                                  PartyId:
                                    type: string
                                    description: Used to associate to a party detail record
                                    maxLength: 19
                                  RepresentingSelf:
                                    type: string
                                    description: >-
                                      Indicates whether the Party Id is the
                                      participate i.e. the participant is
                                      representing themselves
                                    enum:
                                      - 'No'
                                      - 'Yes'
                  ContactDetails:
                    type: object
[...]
