.dropdown-divider {
    border-top: 1px solid #e9ecef;
}

.dropdown-item {
    padding:10px;
}

    .dropdown-item:hover {
        background-color:#505c6e;
        color: white;
    }

.dropdown-menu {
    margin-top: -10px;
    margin-right: 25px;
    width: 300px;
    padding: 5px 0px 5px 0px;
}

.fa-retweet:hover {
    cursor: pointer;
}

.collapse-toggle a {
    text-decoration:none;
}