@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Sorry, you don't have access";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h3>Oops! It looks like you don't have access to do that.</h3>
<p>
    You may wish to <a href="javascript:window.history.back();">go back </a> to the previous page you were looking at.
</p>