@page
@model ExternalLoginModel

@{
    ViewData["Title"] = "You are now signed in.";
}

@* Nobody should see this page, as they should be redirected to their returnUrl, or the default / home page instead. *@

<p>You have successfully signed in.</p>
