@page
@model LoginWithPassword

@{
    ViewData["Title"] = "Log in with Password";
}

<p>This page allows you to log in with a @Model.AppName password, without the need for Actionstep.</p>

<p>Your account must first be set up with a @Model.AppName password to be able to use this feature.</p>

<section>
    <form asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" id="loginForm">
        <div>
            <div class="form-group">
                <label asp-for="Input.Email" class="col-md-2 control-label">Email Address</label>
                <div class="col-md-6">
                    <input asp-for="Input.Email" class="form-control" data-cy="Input_Email" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="col-md-2 control-label">Password</label>
                <div class="col-md-6">
                    <input asp-for="Input.Password" class="form-control" type="password" data-cy="Input_Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-10">
                <div asp-validation-summary="All" class="text-danger"></div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default" data-cy="Login_Button">Log in</button>
                </div>
            </div>
        </div>
    </form>
</section>
