@page
@model WCA.Web.Areas.Admin.Pages.IntegrationSettings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>IntegrationSetting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntegrationSetting.Id" />
            <div class="form-group">
                <label asp-for="IntegrationSetting.ActionstepOrgKey" class="control-label"></label>
                <select asp-for="IntegrationSetting.ActionstepOrgKey" class="form-control" asp-items="ViewBag.ActionstepOrgKey"></select>
                <span asp-validation-for="IntegrationSetting.ActionstepOrgKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegrationSetting.UserId" class="control-label"></label>
                <select asp-for="IntegrationSetting.UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                <span asp-validation-for="IntegrationSetting.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntegrationSetting.SortOrder" class="control-label"></label>
                <input asp-for="IntegrationSetting.SortOrder" class="form-control" />
                <span asp-validation-for="IntegrationSetting.SortOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IntegrationSetting.HideIntegration" /> @Html.DisplayNameFor(model => model.IntegrationSetting.HideIntegration)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="IntegrationSetting.IntegrationId" class="control-label"></label>
                <select asp-for="IntegrationSetting.IntegrationId" class="form-control" asp-items="ViewBag.IntegrationId"></select>
                <span asp-validation-for="IntegrationSetting.IntegrationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
